<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking</title>
    <link rel="styleSheet" href="./templateStyle.css">
</head>
<body>
    <div class="container-1">
    <div class="image image-1"><img src="../flips/flip-1.jpg" height="100%" width="100%"/></div>
    <div class=" text"> A man's mission to reunite his ailing grandmother with 
        her ancestral home turns into a complicated cross-border affair. The movie produced by T-series
        has Arjun Kapoor, Rakulpreet Singh and Neena Gupta in crucial roles. Aditi Rao Hydari is 
        also in the movie and plays a side role. The movie will also be streaming on netflix, however Movify
        brings you the best of offers. BOOK NOW!!!
        <br>
        <div class="stars" data-rating="3">
            <span class="star">&nbsp;</span>
            <span class="star">&nbsp;</span>
            <span class="star">&nbsp;</span>
            <span class="star">&nbsp;</span>
            <span class="star">&nbsp;</span>
        </div>
     </div> 
     <div class="image image-2"><img src="../second images/second image-1.jpg" alt="Sardar Ka GrandSon" height="100%" width="100%" >
    </div>
    </div>

<div class="select">

    <div class="selectCity common">
        
        <select id="selection">
            <option value="Country">Select City</option>
            <option value="Ahemdabad">Ahemdabad</option>
            <option value="Ambala">Ambala</option>
            <option value="Agra">Agra</option>
            <option value="Bangalore">Bangalore</option>
            <option value="Chennai">Chennai</option>
            <option value="Delhi">Delhi</option>
            <option value="Guwahati">Guwahati</option>
            <option value="Hyderabad">Hyderabad</option>
            <option value="Indore">Indore</option>
            <option value="Kolkatta">Kolkatta</option>
            <option value="Mumbai">Mumbai</option>
        </select>
    </div>
    <div class="selectDate common" ><input value="Date" type="date" id="dateInput" min="2021-07-10" max="2021-07-23">
    </div>
</div>


<div class="multiplexBoxAhemdabad1 same">
    <div class="multiplex multiplex-1"><a href="/FIRST PAGE/2nd page/Box1/seats.html">PVR CG SQUARE MALL, 10:30AM</a> </div>
    <div class="multiplex multiplex-2"><a href="/FIRST PAGE/2nd page/Box1/seats.html">CINEPOLIS SHREE BALAJI MALL, 12:45PM</a></div>
    <div class="multiplex multiplex-3"><a href="/FIRST PAGE/2nd page/Box1/seats.html">IMAX AHEMDABAD ONE MALL, 3:30PM </a></div>
    <div class="multiplex multiplex-4"><a href="/FIRST PAGE/2nd page/Box1/seats.html">IMAX AHEMDABAD ONE MALL, 6:30PM </a></div>
    <div class="multiplex multiplex-5"><a href="/FIRST PAGE/2nd page/Box1/seats.html">PVR CG SQUARE MALL, 10:30PM </a></div>
</div>



<div class="multiplexBoxAhemdabad2 same">
    <div class="multiplex multiplex-1"><a href="/FIRST PAGE/2nd page/Box1/seats.html">PVR CG SQUARE MALL, 09:30AM</a> </div>
    <div class="multiplex multiplex-2"><a href="/FIRST PAGE/2nd page/Box1/seats.html">CINEPOLIS SHREE BALAJI MALL, 11:45PM</a></div>
    <div class="multiplex multiplex-3"><a href="/FIRST PAGE/2nd page/Box1/seats.html">IMAX AHEMDABAD ONE MALL, 2:45PM </a></div>
    <div class="multiplex multiplex-4"><a href="/FIRST PAGE/2nd page/Box1/seats.html">IMAX AHEMDABAD ONE MALL, 7:30PM </a></div>
    <div class="multiplex multiplex-5"><a href="/FIRST PAGE/2nd page/Box1/seats.html">PVR CG SQUARE MALL, 9:30PM </a></div>
</div>



<div class="multiplexBoxAmbala1 same">
    <div class="multiplex multiplex-1"><a href="/FIRST PAGE/2nd page/Box2/seats.html">PVR GALAXY WORLD MALL, 9:30AM</a> </div>
    <div class="multiplex multiplex-2"><a href="/FIRST PAGE/2nd page/Box2/seats.html">PVR GALAXY WORLD MALL, 12:45PM</a></div>
    <div class="multiplex multiplex-3"><a href="/FIRST PAGE/2nd page/Box2/seats.html">MYMOVIES JAGGI CITY CENTER, 4:30PM </a></div>
    <div class="multiplex multiplex-4"><a href="/FIRST PAGE/2nd page/Box2/seats.html">MYMOVIES JAGGI CITY CENTER, 7:40PM </a></div>
    <div class="multiplex multiplex-5"><a href="/FIRST PAGE/2nd page/Box2/seats.html">PVR GALAXY WORLD MALL, 9:30PM </a></div>
</div>



<div class="multiplexBoxAmbala2 same">
    <div class="multiplex multiplex-1"><a href="/FIRST PAGE/2nd page/Box2/seats.html">PVR GALAXY WORLD MALL, 10:30AM</a> </div>
    <div class="multiplex multiplex-2"><a href="/FIRST PAGE/2nd page/Box2/seats.html">PVR GALAXY WORLD MALL, 1:45PM </a></div>
    <div class="multiplex multiplex-3"><a href="/FIRST PAGE/2nd page/Box2/seats.html">MYMOVIES JAGGI CITY CENTER, 12:30PM</a>, 3:30PM </a></div>
    <div class="multiplex multiplex-4"><a href="/FIRST PAGE/2nd page/Box2/seats.html">MYMOVIES JAGGI CITY CENTER, 6:30PM</a></div>
    <div class="multiplex multiplex-5"><a href="/FIRST PAGE/2nd page/Box2/seats.html">PVR GALAXY WORLD MALL, 9:00PM</a></div>
</div>



<div class="multiplexBoxAgra1 same">
    <div class="multiplex multiplex-1"><a href="/FIRST PAGE/2nd page/Box3/seats.html">CINEPOLIS ASHOKA COSMOS MALL, 10:30AM</a> </div>
    <div class="multiplex multiplex-2"><a href="/FIRST PAGE/2nd page/Box3/seats.html">CINEPOLIS ASHOKA COSMOS MALL, 12:45PM</a></div>
    <div class="multiplex multiplex-3"><a href="/FIRST PAGE/2nd page/Box3/seats.html">IMAX TDI MALL, 3:30PM </a></div>
    <div class="multiplex multiplex-4"><a href="/FIRST PAGE/2nd page/Box3/seats.html">IMAX TDI MALL, 6:30PM </a></div>
    <div class="multiplex multiplex-5"><a href="/FIRST PAGE/2nd page/Box3/seats.html">PVR SAKET MALL, 10:30PM </a></div>
</div>



<div class="multiplexBoxAgra2 same">
    <div class="multiplex multiplex-1"><a href="/FIRST PAGE/2nd page/Box3/seats.html">CINEPOLIS ASHOKA COSMOS MALL, 8:30AM</a> </div>
    <div class="multiplex multiplex-2"><a href="/FIRST PAGE/2nd page/Box3/seats.html">CINEPOLIS ASHOKA COSMOS  MALL, 1:40PM</a></div>
    <div class="multiplex multiplex-3"><a href="/FIRST/2nd page/Box3/seats.html">IMAX TDI MALL, 3:50PM </a></div>
    <div class="multiplex multiplex-4"><a href="/FIRST PAGE/2nd page/Box3/seats.html">IMAX TDI MALL, 7:30PM </a></div>
    <div class="multiplex multiplex-5"><a href="/FIRST PAGE/2nd page/Box3/seats.html">PVR SAKET MALL, 9:30PM </a></div>
</div>



<div class="multiplexBoxBangalore1 same">
    <div class="multiplex multiplex-1"><a href="/FIRST PAGE/2nd page/Box4/seats.html">CINEPOLIS PHEONIX MARKETCITY, 9:10AM</a> </div>
    <div class="multiplex multiplex-2"><a href="/FIRST PAGE/2nd page/Box4/seats.html">CINEPOLIS PHEONIX MARKETCITY, 11:40PM</a></div>
    <div class="multiplex multiplex-3"><a href="/FIRST PAGE/2nd page/Box4/seats.html">IMAX ORION MALL, 3:30PM </a></div>
    <div class="multiplex multiplex-4"><a href="/FIRST PAGE/2nd page/Box4/seats.html">IMAX ORION MALL, 7:10PM </a></div>
    <div class="multiplex multiplex-5"><a href="/FIRST PAGE/2nd page/Box4/seats.html">PVR MANTRI SQUARE MALL, 9:30PM </a></div>
</div>



<div class="multiplexBoxBangalore2 same">
    <div class="multiplex multiplex-1"><a href="/FIRST PAGE/2nd page/Box4/seats.html">CINEPOLIS PHEONIX MARKETCITY, 10:30AM</a> </div>
    <div class="multiplex multiplex-2"><a href="/FIRST PAGE/2nd page/Box4/seats.html">PVR MANTRI SQUARE MALL, 1:40PM</a></div>
    <div class="multiplex multiplex-3"><a href="/FIRST PAGE/2nd page/Box4/seats.html">IMAX ORION MALL, 3:10PM </a></div>
    <div class="multiplex multiplex-4"><a href="/FIRST PAGE/2nd page/Box4/seats.html">IMAX ORION MALL, 8:30PM </a></div>
    <div class="multiplex multiplex-5"><a href="/FIRST PAGE/2nd page/Box4/seats.html">PVR MANTRI SQUARE MALL, 10:30PM </a></div>
</div>



<div class="multiplexBoxChennai1 same">
    <div class="multiplex multiplex-1"><a href="/FIRST PAGE/2nd page/Box5/seats.html">IMAX VR CHENNAI MALL, 9:35AM</a> </div>
    <div class="multiplex multiplex-2"><a href="/FIRST PAGE/2nd page/Box5/seats.html">IMAX VR CHENNAI MALL, 1:25PM</a></div>
    <div class="multiplex multiplex-3"><a href="/FIRST PAGE/2nd page/Box5/seats.html">SUPREME MOVIES PHEONIX MARKETCITY, 3:50PM </a></div>
    <div class="multiplex multiplex-4"><a href="/FIRST PAGE/2nd page/Box5/seats.html">SUPREME MOVIES PHEONIX MARKETCITY, 7:30PM </a></div>
    <div class="multiplex multiplex-5"><a href="/FIRST PAGE/2nd page/Box5/seats.html">SUPREME MOVIES EXPRESS AVENUE, 9:15PM </a></div>
</div>



<div class="multiplexBoxChennai2 same">
    <div class="multiplex multiplex-1"><a href="/FIRST PAGE/2nd page/Box5/seats.html">IMAX VR CHENNAI MALL, 9:55AM</a> </div>
    <div class="multiplex multiplex-2"><a href="/FIRST PAGE/2nd page/Box5/seats.html">IMAX VR CHENNAI MALL, 12:25PM</a></div>
    <div class="multiplex multiplex-3"><a href="/FIRST PAGE/2nd page/Box5/seats.html">SUPREME MOVIES PHEONIX MARKETCITY, 4:45PM </a></div>
    <div class="multiplex multiplex-4"><a href="/FIRST PAGE/2nd page/Box5/seats.html">SUPREME MOVIES PHEONIX MARKETCITY, 7:30PM </a></div>
    <div class="multiplex multiplex-5"><a href="/FIRST PAGE/2nd page/Box5/seats.html">SUPREME MOVIES EXPRESS AVENUE, 9:15PM </a></div>
</div>



<div class="multiplexBoxDelhi1 same">
    <div class="multiplex multiplex-1"><a href="/FIRST PAGE/2nd page/Box6/seats.html">IMAX CENTRAL MALL, 8:35AM</a> </div>
    <div class="multiplex multiplex-2"><a href="/FIRST PAGE/2nd page/Box6/seats.html">IMAX CENTRAL MALL, 12:25PM</a></div>
    <div class="multiplex multiplex-3"><a href="/FIRST/2nd page/Box6/seats.html">PVR PACIFIC MALL TAGORE GARDEN, 4:15PM </a></div>
    <div class="multiplex multiplex-4"><a href="/FIRST PAGE/2nd page/Box6/seats.html">PVR PACIFIC MALL TAGORE GARDEN, 7:35PM </a></div>
    <div class="multiplex multiplex-5"><a href="/FIRST PAGE/2nd page/Box6/seats.html">SUPREME MOVIES CITYWALK MALL, 10:15PM </a></div>
</div>



<div class="multiplexBoxDelhi2 same">
    <div class="multiplex multiplex-1"><a href="/FIRST PAGE/2nd page/Box6/seats.html">IMAX CENTRAL MALL, 9:45AM</a> </div>
    <div class="multiplex multiplex-2"><a href="/FIRST PAGE/2nd page/Box6/seats.html">IMAX CENTRAL MALL, 12:35PM</a></div>
    <div class="multiplex multiplex-3"><a href="/FIRST PAGE/2nd page/Box6/seats.html">SUPREME MOVIES CITYWALK MALL, 4:45PM </a></div>
    <div class="multiplex multiplex-4"><a href="/FIRST PAGE/2nd page/Box6/seats.html">SUPREME MOVIES CITYWALK MALL, 7:30PM </a></div>
    <div class="multiplex multiplex-5"><a href="/FIRST PAGE/2nd page/Box6/seats.html">PVR PACIFIC MALL TAGORE GARDEN, 9:15PM </a></div>
</div>



<div class="multiplexBoxGuwahati1 same">
    <div class="multiplex multiplex-1"><a href="/FIRST PAGE/2nd page/Box7/seats.html">CINEPOLIS RUDRAKSH MALL, 9:55AM</a> </div>
    <div class="multiplex multiplex-2"><a href="/FIRST PAGE/2nd page/Box8/seats.Box7/seats.html">CINEPOLIS RUDRAKSH MALL, 1:25PM</a></div>
    <div class="multiplex multiplex-3"><a href="/FIRST PAGE/2nd page/Box7/seats.html">PVR CITY CENTRE, 4:45PM </a></div>
    <div class="multiplex multiplex-4"><a href="/FIRST PAGE/2nd page/Box7/seats.html">PVR CITY CENTRE, 7:30PM </a></div>
    <div class="multiplex multiplex-5"><a href="/FIRST PAGE/2nd page/Box7/seats.html">CINEPOLIS RUDRAKSH MALL, 9:15PM </a></div>
</div>



<div class="multiplexBoxGuwahati2 same">
    <div class="multiplex multiplex-1"><a href="/FIRST PAGE/2nd page/Box7/seats.html">PVR CITY CENTRE, 10:15AM</a> </div>
    <div class="multiplex multiplex-2"><a href="/FIRST PAGE/2nd page/Box7/seats.html">PVR CITY CENTRE, 12:45PM</a></div>
    <div class="multiplex multiplex-3"><a href="/FIRST PAGE/2nd page/Box7/seats.html">CINEPOLIS RUDRAKSH MALL, 3:35PM </a></div>
    <div class="multiplex multiplex-4"><a href="/FIRST PAGE/2nd page/Box7/seats.html">CINEPOLIS RUDRAKSH MALL, 7:30PM </a></div>
    <div class="multiplex multiplex-5"><a href="/FIRST PAGE/2nd page/Box7/seats.html">CINEPOLIS RUDRAKSH MALL, 10:25PM </a></div>
</div>



<div class="multiplexBoxHyderabad1 same">
    <div class="multiplex multiplex-1"><a href="/FIRST PAGE/2nd page/Box8/seats.html">PVR GVK ONE MALL, 9:35AM</a> </div>
    <div class="multiplex multiplex-2"><a href="/FIRST PAGE/2nd page/BoxBox8/seats.html">PVR GVK ONE MALL, 12:55PM</a></div>
    <div class="multiplex multiplex-3"><a href="/FIRST/2nd page/Box8/seats.html">MYMOVIES FORUM SUJANA MALL, 4:35PM </a></div>
    <div class="multiplex multiplex-4"><a href="/FIRST PAGE/2nd page/Box8/seats.html">MYMOVIES FORUM SUJANA MALL, 7:30PM </a></div>
    <div class="multiplex multiplex-5"><a href="/FIRST PAGE/2nd page/Box8/seats.html">CINEPOLIS MEGASHOPPING MALL, 9:15PM </a></div>
</div>



<div class="multiplexBoxHyderabad2 same">
    <div class="multiplex multiplex-1"><a href="/FIRST PAGE/2nd page/Box8/seats.html">PVR GVK ONE MALL, 10:15AM</a> </div>
    <div class="multiplex multiplex-2"><a href="/FIRST PAGE/2nd page/Box8/seats.html">PVR GVK ONE MALL, 12:45PM</a></div>
    <div class="multiplex multiplex-3"><a href="/FIRST PAGE/2nd page/Box8/seats.html">MYMOVIES FORUM SUJANA MALL, 3:35PM </a></div>
    <div class="multiplex multiplex-4"><a href="/FIRST PAGE/2nd page/Box8/seats.html">MYMOVIES FORUM SUJANA MALL, 7:30PM </a></div>
    <div class="multiplex multiplex-5"><a href="/FIRST PAGE/2nd page/Box8/seats.html">CINEPOLIS MEGASHOPPING MALL, 10:25PM </a></div>
</div>


<div class="multiplexBoxIndore1 same">
    <div class="multiplex multiplex-1"><a href="/FIRST PAGE/2nd page/Box9/seats.html">IMAX C21 MALL, 9:45AM</a> </div>
    <div class="multiplex multiplex-2"><a href="/FIRST PAGE/2nd page/Box9/seats.html">IMAX C21 MALL, 12:55PM</a></div>
    <div class="multiplex multiplex-3"><a href="/FIRST PAGE/2nd page/Box9/seats.html">CINEPOLIS TREASURE ISLAND MALL, 5:25PM </a></div>
    <div class="multiplex multiplex-4"><a href="/FIRST PAGE/2nd page/Box9/seats.html">CINEPOLIS TREASURE ISLAND MALL, 8:15PM </a></div>
    <div class="multiplex multiplex-5"><a href="/FIRST PAGE/2nd page/Box9/seats.html">PVR MALHAR MEGA MALL, 9:45PM </a></div>
</div>




<div class="multiplexBoxIndore2 same">
    <div class="multiplex multiplex-1"><a href="/FIRST PAGE/2nd page/Box9/seats.html">IMAX C21 MALL, 9:15AM</a> </div>
    <div class="multiplex multiplex-2"><a href="/FIRST PAGE/2nd page/Box9/seats.html">IMAX C21 MALL, 12:55PM</a></div>
    <div class="multiplex multiplex-3"><a href="/FIRST PAGE/2nd page/Box9/seats.html">CINEPOLIS TREASURE ISLAND MALL, 4:55PM </a></div>
    <div class="multiplex multiplex-4"><a href="/FIRST PAGE/2nd page/Box9/seats.html">CINEPOLIS TREASURE ISLAND MALL, 8:30PM </a></div>
    <div class="multiplex multiplex-5"><a href="/FIRST PAGE/2nd page/Box9/seats.html">PVR MALHAR MEGA MALL, 9:25PM </a></div>
</div>


<div class="multiplexBoxKolkatta1 same">
    <div class="multiplex multiplex-1"><a href="/FIRST PAGE/2nd page/Box10/seats.html">PVR QUEST MALL, 9:35AM</a> </div>
    <div class="multiplex multiplex-2"><a href="/FIRST PAGE/2nd page/Box10/seats.html">PVR QUEST MALL, 11:45PM</a></div>
    <div class="multiplex multiplex-3"><a href="/FIRST PAGE/2nd page/Box10/seats.html">PVR QUEST MALL, 3:55PM </a></div>
    <div class="multiplex multiplex-4"><a href="/FIRST PAGE/2nd page/Box10/seats.html">PVR QUEST MALL, 9:35PM </a></div>
    <div class="multiplex multiplex-5"><a href="/FIRST PAGE/2nd page/Box10/seats.html">CINEPOLIS ACROPOLIS MALL, 3:25PM </a></div>
    <div class="multiplex multiplex-6"><a href="/FIRST PAGE/2nd page/Box10/seats.html">CINEPOLIS ACROPOLIS MALL, 6:35PM </a></div>
    <div class="multiplex multiplex-7"><a href="/FIRST PAGE/2nd page/Box10/seats.html">CINEPOLIS ACROPOLIS MALL, 10:25PM </a></div>
    <div class="multiplex multiplex-8"><a href="/FIRST PAGE/2nd page/Box10/seats.html">IMAX GARIAHAAT MALL, 1:25PM </a></div>
    <div class="multiplex multiplex-9"><a href="/FIRST PAGE/2nd page/Box10/seats.html">IMAX GARIAHAAT MALL, 6:35PM </a></div>
    <div class="multiplex multiplex-10"><a href="/FIRST PAGE/2nd page/Box10/seats.html">IMAX GARIAHAAT MALL, 10:25PM </a></div>
</div>



<div class="multiplexBoxKolkatta2 same">
    <div class="multiplex multiplex-1"><a href="/FIRST PAGE/2nd page/Box10/seats.html">PVR QUEST MALL, 10:15AM</a> </div>
    <div class="multiplex multiplex-2"><a href="/FIRST PAGE/2nd page/Box10/seats.html">PVR QUEST MALL, 12:45PM</a></div>
    <div class="multiplex multiplex-3"><a href="/FIRST PAGE/2nd page/Box10/seats.html">PVR QUEST MALL, 3:35PM </a></div>
    <div class="multiplex multiplex-4"><a href="/FIRST PAGE/2nd page/Box10/seats.html">PVR QUEST MALL, 7:30PM </a></div>
    <div class="multiplex multiplex-5"><a href="/FIRST PAGE/2nd page/Box10/seats.html">CINEPOLIS ACROPOLIS MALL, 2:25PM </a></div>
    <div class="multiplex multiplex-6"><a href="/FIRST PAGE/2nd page/Box10/seats.html">CINEPOLIS ACROPOLIS MALL, 5:35PM </a></div>
    <div class="multiplex multiplex-7"><a href="/FIRST PAGE/2nd page/Box10/seats.html">CINEPOLIS ACROPOLIS MALL, 10:25PM </a></div>
    <div class="multiplex multiplex-8"><a href="/FIRST PAGE/2nd page/Box10/seats.html">IMAX GARIAHAAT MALL, 1:20PM </a></div>
    <div class="multiplex multiplex-9"><a href="/FIRST PAGE/2nd page/Box10/seats.html">IMAX GARIAHAAT MALL, 6:15PM </a></div>
    <div class="multiplex multiplex-10"><a href="/FIRST PAGE/2nd page/Box10/seats.html">IMAX GARIAHAAT MALL, 9:25PM </a></div>
</div>



<div class="multiplexBoxMumbai1 same">
    <div class="multiplex multiplex-1"><a href="/FIRST PAGE/2nd page/Box11/seats.html">CINEPOLIS RCITY MALL GHATKOPAR, 9:25AM</a> </div>
    <div class="multiplex multiplex-2"><a href="/FIRST PAGE/2nd page/Box11/seats.html">CINEPOLIS RCITY MALL GHATKOPAR, 11:45AM</a></div>
    <div class="multiplex multiplex-3"><a href="/FIRST PAGE/2nd page/Box11/seats.html">IMAX PHEONIX MARKETCITY KURLA, 4:15PM </a></div>
    <div class="multiplex multiplex-4"><a href="/FIRST PAGE/2nd page/Box11/seats.html">IMAX PHEONIX MARKETCITY KURLA, 7:30PM </a></div>
    <div class="multiplex multiplex-5"><a href="/FIRST PAGE/2nd page/Box11/seats.html">CINEPOLIS RCITY MALL GHATKOPAR, 9:45PM </a></div>
    <div class="multiplex multiplex-6"><a href="/FIRST PAGE/2nd page/Box11/seats.html">PVR NIRMAL LIFESTYLE BHANDUP, 4:55PM </a></div>
    <div class="multiplex multiplex-7"><a href="/FIRST PAGE/2nd page/Box11/seats.html">PVR NIRMAL LIFESTYLE BHANDUP, 7:15PM </a></div>
    <div class="multiplex multiplex-8"><a href="/FIRST PAGE/2nd page/Box11/seats.html">MYMOVIES HEERA PANNA CST, 6:25PM </a></div>
    <div class="multiplex multiplex-9"><a href="/FIRST PAGE/2nd page/Box11/seats.html">MYMOVIES HEERA PANNA CST, 9:55PM </a></div>
    <div class="multiplex multiplex-10"><a href="/FIRST PAGE/2nd page/Box11/seats.html">CINEPOLIS VIVIANA MULUND, 10:25PM </a></div>
</div>



<div class="multiplexBoxMumbai2 same">
    <div class="multiplex multiplex-1"><a href="/FIRST PAGE/2nd page/Box11/seats.html">CINEPOLIS RCITY MALL GHATKOPAR, 10:15AM</a> </div>
    <div class="multiplex multiplex-2"><a href="/FIRST PAGE/2nd page/Box11/seats.html">CINEPOLIS RCITY MALL GHATKOPAR, 12:45PM</a></div>
    <div class="multiplex multiplex-3"><a href="/FIRST PAGE/2nd page/Box11/seats.html">IMAX PHEONIX MARKETCITY KURLA, 3:35PM </a></div>
    <div class="multiplex multiplex-4"><a href="/FIRST PAGE/2nd page/Box11/seats.html">IMAX PHEONIX MARKETCITY KURLA, 7:30PM </a></div>
    <div class="multiplex multiplex-5"><a href="/FIRST PAGE/2nd page/Box11/seats.html">CINEPOLIS RCITY MALL GHATKOPAR, 10:25PM </a></div>
    <div class="multiplex multiplex-6"><a href="/FIRST PAGE/2nd page/Box11/seats.html">PVR NIRMAL LIFESTYLE BHANDUP, 4:25PM </a></div>
    <div class="multiplex multiplex-7"><a href="/FIRST PAGE/2nd page/Box11/seats.html">PVR NIRMAL LIFESTYLE BHANDUP, 7:45PM </a></div>
    <div class="multiplex multiplex-8"><a href="/FIRST PAGE/2nd page/Box11/seats.html">MYMOVIES HEERA PANNA CST, 5:25PM </a></div>
    <div class="multiplex multiplex-9"><a href="/FIRST PAGE/2nd page/Box11/seats.html">MYMOVIES HEERA PANNA CST, 8:55PM </a></div>
    <div class="multiplex multiplex-10"><a href="/FIRST PAGE/2nd page/Box11/seats.html">CINEPOLIS VIVIANA MULUND, 9:35PM </a></div>
</div>
<script src="./templateWork.js"></script>
</body>
</html>